@model IMS.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductCode" class="control-label"></label>
                <input asp-for="ProductCode" class="form-control" />
                <span asp-validation-for="ProductCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Barcode" class="control-label"></label>
                <input asp-for="Barcode" class="form-control" />
                <span asp-validation-for="Barcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentQuantity" class="control-label"></label>
                <input asp-for="CurrentQuantity" class="form-control" />
                <span asp-validation-for="CurrentQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LowStockLevel" class="control-label"></label>
                <input asp-for="LowStockLevel" class="form-control" />
                <span asp-validation-for="LowStockLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductImageUrl" class="control-label">Product Image</label>
                <input asp-for="ProductImageUrl" type="file" class="form-control" />
                <span asp-validation-for="ProductImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefaultBuyingPrice" class="control-label"></label>
                <input asp-for="DefaultBuyingPrice" class="form-control" />
                <span asp-validation-for="DefaultBuyingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefaultSellingPrice" class="control-label"></label>
                <input asp-for="DefaultSellingPrice" class="form-control" />
                <span asp-validation-for="DefaultSellingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BranchId" class="control-label"></label>
                <input asp-for="BranchId" class="form-control" />
                <span asp-validation-for="BranchId" class="text-danger"></span> 
            </div>
            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                <input asp-for="IsActive" class="form-control" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
